{% extends "base.html" %}

{% block app_content %}
    <div class="row">
        <div class="col-md">
            <div class="section-title">
                <h2 class="text-center">Hearthstone Grandmasters</h2>
                <p class="text-center">Welcome to Hearthstone Grandmasters 2021</p>
                <p class="text-center">Login to start the game</p>
                <p class="text-center">Remember to NOT always choose your favourite </p>
            </div>
        </div>
    </div>
    <br>
{% endblock %}