{% extends "base.html" %}

{%- block app_content %}
    <div class="row">
        <div class="col-md-8">
            <h3>Hearthstone Grandmasters - Login</h3>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-8">
            <form class="form" method="POST" id="login-form" enctype="multipart/form-data">
                {{ render_field(form.csrf_token) }}
                {{ render_field(form.username) }}
                {{ render_field(form.password) }}
                {{ render_field(form.submit) }}
            </form>
        </div>
    </div>
{%- endblock %}
